<!DOCTYPE html>
<html>
  <head>
    <title>Ednorth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Below p-tags suggested by Devise install helper %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <div>
        <%unless current_page?("/colleagues")%>
          <p> 
            <%= link_to "Find Colleagues", colleagues_path %>
          </p> 
        <% end %>
        <%unless current_page?("/users/edit")%>
          <p> 
            <%= link_to "Edit #{current_user.first_name} #{current_user.last_name}", edit_user_registration_path %>
          </p> 
        <% end %>
        <p>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </p> 
      </div>
    <% else %>
      <div>
        <p>
          <%= link_to "Sign up", new_user_registration_path %>
        </p>
        <p>
          <%= link_to "Sign in", new_user_session_path %>
        </p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
